# PyInstaller build directories
build/
dist/

# Backup directories (if you create them)
backup/

# SQLite database files (often dynamically created/modified)
*.db
!my.db # Wyklucz wszystkie pliki .db, ale ZACHOWAJ my.db (jeśli chcesz go śledzić)
myOld.db
myOldNew.db

# Python cache and environment files
__pycache__/
*.pyc
*.pyd
*.pyo
.venv/
env/

# Operating System specific files
.DS_Store # macOS
Thumbs.db # Windows
desktop.ini # Windows

# IDE specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
